html {
  font-size: 100px;
}
html,
body,
.section {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.section {
  position: relative;
  background: url("../img/zf_cubeBg.jpg") no-repeat center center;
  background-size: cover;
  perspective: 1000px;
}
.section .title {
  margin: 1.5rem auto 0;
  width: 2rem;
  height: .5rem;
  line-height: .5rem;
  font-size: .48rem;
  font-weight: 500;
  color: red;
}
.section .cube {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.55rem;
  margin-left: -2.55rem;
  width: 5.1rem;
  height: 5.1rem;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: scale(0.6) rotateX(-30deg) rotateY(30deg);
  transform: scale(0.6) rotateX(-30deg) rotateY(30deg);
}
.section .cube li {
  position: absolute;
  width: 100%;
  height: 100%;
}
.section .cube li img {
  width: 100%;
  height: 100%;
}
.section .cube li:nth-child(1) {
  -webkit-transform: translateZ(2.55rem);
  transform: translateZ(2.55rem);
}
.section .cube li:nth-child(2) {
  -webkit-transform: translateZ(-2.55rem) rotateY(180deg);
  transform: translateZ(-2.55rem) rotateY(180deg);
}
.section .cube li:nth-child(3) {
  -webkit-transform: translateX(-2.55rem) rotateY(-90deg);
  transform: translateX(-2.55rem) rotateY(-90deg);
}
.section .cube li:nth-child(4) {
  -webkit-transform: translateX(2.55rem) rotateY(90deg);
  transform: translateX(2.55rem) rotateY(90deg);
}
.section .cube li:nth-child(5) {
  -webkit-transform: translateY(-2.55rem) rotateX(90deg);
  transform: translateY(-2.55rem) rotateX(90deg);
}
.section .cube li:nth-child(6) {
  -webkit-transform: translateY(2.55rem) rotateX(-90deg);
  transform: translateY(2.55rem) rotateX(-90deg);
}
.section .cube li a {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.81rem;
  margin-left: -0.81rem;
  display: block;
  width: 1.62rem;
  height: 1.62rem;
}
.section .cube li a em {
  margin: .2rem auto 0;
  display: block;
  width: 1.20rem;
  height: 1.20rem;
  background: url("../img/gejian.png") no-repeat center center;
  background-position: 0 0;
  background-size: 350% 220%;
}
.section .cube li a.cube-2 em {
  background-position: -1.23rem -1.25rem;
  background-size: 300% 200%;
}
.section .cube li a.cube-3 em {
  background-position: -1.45rem 0.05rem;
}
.section .cube li a.cube-4 em {
  background-position: -3rem -1.45rem;
}
.section .cube li a.cube-5 em {
  background-position: 0.02rem -1.5rem;
}
.section .cube li a.cube-6 em {
  background-position: -3rem 0;
}
